.bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 10px;
    max-width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    min-width: 50vw;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Car and Name Section */
.carAndName {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* Product Info Section */
.product-info-section {
    flex: 1;
    padding-right: 20px;
}

.product-header {
    margin-bottom: 10px;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}

.product-description {
    font-size: 16px;
    color: #666;
    margin-bottom: 10px;
}

.product-price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

/* Product Description */
.description-title {
    font-size: 18px;
    font-weight: bold;
    color: #444;
    margin-bottom: 5px;
}

/* Product Actions */
.product-actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.action-button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.action-button:hover {
    background-color: #555;
}

.edit-button {
    background-color: #007BFF;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

/* Float Section */
.float {
    flex: 2;
}
